
.navbar-style li:hover{
    border-bottom: 3px solid #FF6700;
    color: #FF6700;
}

.navbar-style a:hover{
    color: #FF6700;
}

#header{
    
    background-color: rgb(33, 37, 41);
}

.featurette-heading{
    color:#FF6700;
}

.header-title{
    color:#FF6700;
}

.btn-custom:hover{
    background-color:#FF6700 ;
    border: #FF6700;
    color: white;
}

.img-title{
    width:30%; 
    height:70%;
}

.img-feature{
    width:70%; 
    height:90%;
}